<!--The content below is only a placeholder and can be replaced.-->

<html>
    <head>
        <title>Contact Form Bit-Coins </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

        <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
<app-navbar-component></app-navbar-component>

      <div style="text-align:center">
        <h2>
          Welcome to {{title}}!
        </h2>
    <div class="alert alert-info" role="alert">
        <strong>Hier steht</strong> dann <a href="#" class="alert-link">noch unser text</a>, <strong>COINS</strong>
     </div>
      </div>

        <div class="container">

            <div class="row">

                <div class="col-lg-6 col-lg-offset-1">

                  <h4>Contact for HIT COINS <a href="ttps://vita-wertal.herokuapp.com/">pat.com</a></h4>
                  <br>
                  <p class="lead">Register yourselve and get a HitCoin for free</p>
                    <!-- We're going to place the form here in the next step -->
                  <app-address-form> </app-address-form>

                </div>
                <div class="col-lg-5 col-lg-offset-1">

               <div class="card">
                 <div class="card-block">
                   <h3 class="card-title">Informationen: Ihre Daten</h3>
                   <p class="card-text">Die Vienna Coin hat eine Rendite von 200%</p>
                   <a href="#" class="btn btn-primary">Bestätige</a>

               </div>
             </div>
             <div class="card">
               <div class="card-block">
                 <h3 class="card-title">Informationen: Ihre Daten</h3>
                 <p class="card-text">Die Vienna Coin hat eine Rendite von 200%</p>
                 <a href="#" class="btn btn-primary">Bestätige</a>

             </div>
           </div>
           <table class="table table-hover">
<thead>
<tr>
<th>Bit-Ref</th>
<th>Amount</th>
<th>Vorname</th>
<th>Nachname</th>
<th>Email</th>
<th>Phone</th>
<th>Nachricht</th>
</tr>
</thead>
<tbody>
 <tr *ngFor="let customer of thecustomers">
<td>{{customer.refid}}</td>
<td>{{customer.amount}}</td>
<td>{{customer.prename}}</td>
<td>{{customer.familyname}}</td>
<td>{{customer.email}}</td>
<td>{{customer.phone}}</td>
<td>{{customer.message}}</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</body>
</html>
